@use '../../_shared.scss';

.project {
  display: flex;
  justify-content: space-between;
  gap: 44px;
  margin: 0 shared.$desktop-margin 95px shared.$desktop-margin;
  @media all and (max-width: 1200px) {
    gap: 30px;
  }
  @media all and (max-width: 850px) {
    flex-direction: column;
    margin: 30px shared.$mobile-margin;
  }

  &__image {
    width: 40%;
    @media all and (max-width: 1200px) {
      width: 50%;
    }
    @media all and (max-width: 850px) {
      width: 100%;
    }

    & a {
      display: flex;
      align-items: center;
      overflow: hidden;
      object-fit: cover;
      @media all and (max-width: 1400px) {
        justify-content: center;
      }
      @media all and (max-width: 850px) {
        justify-content: center;
      }
      @media all and (max-width: 750px) {
        width: 100%;
      }

      & img {
        width: 400px;
        max-height: 600px;
        object-fit: cover;
        @include shared.main-animation;
        @media all and (max-width: 750px) {
          width: 100%;
        }
        &:hover {
          @include shared.main-animation;
          transform: scale(1.1);
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    line-height: 1.6rem;
    @media all and (max-width: 1200px) {
      width: 50%;
    }
    @media all and (max-width: 850px) {
      width: 100%;
    }
    &__tag {
      font-size: 1.25rem;
      font-weight: 700;
      color: white;
      background-color: shared.$flash-color;
      width: max-content;
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      width: 20px;
      height: 10px;
      margin-top: 0;
      margin-bottom: 32px;
    }
    h4 {
      margin: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
      @media all and (max-width: 1200px) {
        font-size: 2.5rem;
      }
    }
    .link {
      font-size: 1.135rem;
      font-weight: 600;
      color: shared.$flash-color;
      width: max-content;
      @include shared.main-animation(transform);
      &:hover {
        @include shared.main-animation(transform);
        transform: translateX(5px);
      }
    }
  }
  &--reversed {
    flex-direction: row-reverse;
    @media all and (max-width: 850px) {
      flex-direction: column;
    }
  }
}
