@use '../../_shared.scss';

.about {
  margin: 150px shared.$desktop-margin 100px shared.$desktop-margin;
  &__text {
    display: flex;
    &__title {
      font-size: 1.5rem;
      width: 40%;
      font-weight: 700;
    }
    &__content {
      width: 60%;
      margin-left: 50px;
      font-style: 1.125rem;
      &__title {
        font-size: 2rem;
        margin-top: 0;
      }
      &__tags {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
      }
    }
  }
  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
  }
}
