@use '../../_shared.scss';

.about {
  margin: 150px shared.$desktop-margin 0 shared.$desktop-margin;
  &__text {
    display: flex;
    @media all and (max-width: 1000px) {
      flex-direction: column;
    }
    &__title {
      font-size: 1.5rem;
      width: 40%;
      font-weight: 700;
      @media all and (max-width: 1000px) {
        width: 100%;
      }
    }
    &__content {
      width: 60%;
      margin-left: 50px;
      font-size: 1.125rem;
      & p {
        line-height: 1.6rem;
      }
      @media all and (max-width: 1000px) {
        width: 100%;
        margin-left: 0;
      }
      &__title {
        font-size: 2rem;
        margin-top: 0;
      }
      &__tags {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        @media all and (max-width: 600px) {
          flex-direction: column;
          gap: 30px;
          // align-items: center;
          // text-align: center;
        }
      }
    }
  }
  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0 auto;
    @media all and (max-width: 1220px) {
      flex-direction: column;
    }
  }
}
