@use '../../_shared.scss';

.flash-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border: solid 2px shared.$base-color;
  width: 33%;
  @media all and (max-width: 600px) {
    padding: 24px 0;
  }

  @media all and (max-width: 1220px) {
    width: 100%;
  }
  span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    &:first-of-type {
      font-size: 3.5rem;
    }
  }
  &:nth-child(even) {
    background-color: shared.$base-color;
    color: white;
  }
}
