@use '../../_shared.scss';

.award {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px shared.$base-color;
  margin: 0 shared.$desktop-margin 24px shared.$desktop-margin;
  padding: 32px 36px;
  &__informations {
    display: flex;
    align-items: center;
    &__index {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-right: 24px;
      font-size: 1.125rem;
      background-color: shared.$flash-color;
      color: white;
    }
    &__content {
      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
      }
      p {
        font-size: 1.125rem;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
