$base-color: #161513;
$flash-color: #e94d35;
$background-color: #f2f1ef;
$secondary-background-color: #e6e3de;
$desktop-margin: 15vw;
$mobile-margin: 5vw;
$main-font-size: 1rem;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@mixin main-font {
  font-family: 'Bai Jamjuree', sans-serif;
}

@mixin main-transition($name) {
  animation: $name 0.3s cubic-bezier(0.01, 0.95, 0, 1) both;
}

@mixin main-animation($name: all) {
  transition: $name 0.15s ease-in;
}

html {
  background-color: $background-color;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  @include main-font;
  font-size: $main-font-size;
  font-weight: 500;
  color: $base-color;
  max-width: 1920px; // Check
}

a {
  color: inherit;
  text-decoration: none;
}

.flash-color {
  color: $flash-color;
}

.icon-margin {
  margin: auto 15px;
}

.error {
  color: $flash-color;
}

.hoverAnimation:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: $base-color;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  @include main-transition(apparition);
}

@keyframes apparition {
  to {
    transform: scaleX(1);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 4px;
  color: #000;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px, 19px 0 0 5px,
    38px 0 0 5px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
    57px 19px 0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
}
@keyframes l26 {
  12.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 0px;
  }
  25% {
    box-shadow: 19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 5px,
      57px 19px 0 0px;
  }
  50% {
    box-shadow: 19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 5px;
  }
  62.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 5px,
      57px 19px 0 5px;
  }
  75% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 5px;
  }
  87.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 5px, 57px 0 0 0px, 19px 19px 0 5px, 38px 19px 0 0px,
      57px 19px 0 0px;
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   @supports (animation-timeline: view()) {
//     .animatable {
//       opacity: 0;
//       transform: scale(0.8);
//       animation: fadeIn linear both;
//       animation-timeline: view();
//       animation-range-start: cover;
//       animation-range-end: 300px;
//     }
//   }
//   .opacityAnimation {
//     opacity: 0;
//     transform: scale(0.8);
//     animation: opacity 0.3s linear both;
//   }
// }

@keyframes opacity {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
