@use '../../_shared.scss';

.banner-container {
  display: flex;
  //   justify-content: center;
  align-items: center;
  min-height: 175px;
  overflow-x: hidden;
  //   overflow-y: visible;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: shared.$base-color;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    transform-origin: center;
    transform: rotate(-3deg) scaleX(1.01);
    &__techno {
      margin: auto 35px;
      text-transform: uppercase;
    }
  }
}
